.section {
  background-color: rgb(121, 158, 201);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 4rem 0;

  > h2 {
    text-align: center;
  }

  > * {
    width: 100%;
  }
}
