.typewriter {
  width: 285px;
  div {
    display: table;
  }

  .lines {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid rgba(255, 255, 255, 0);
    white-space: nowrap;
    margin: 0 auto;
  }
  .firstLine {
    animation: typing 0.2s steps(3, end) 1s both, blink-caret 0.75s step-end 2;
  }

  .secondLine {
    animation: typing 1.2s steps(19, end) 2s both,
      blink-caret 0.75s step-end 3 1.5s;
  }
  .thirdLine {
    animation: typing 1s steps(16, end) 3.5s both,
      blink-caret 0.75s step-end infinite 3.5s;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: rgb(255, 255, 255);
  }
  50% {
    border-color: transparent;
  }
}
