html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Fira Code', monospace, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: 300;
  line-height: 1.6;
  font-size: 18px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow: overlay;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(121, 121, 121);
}

@media (min-width: 780px) {
  section {
    padding-right: 8px !important;
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.italic {
  font-style: italic;
}

br {
  display: block;
  content: '';
  margin-top: 0;
}

h2 {
  font-weight: 500;
}
